body {
	font-family: helvetica, sans-serif, Arial, Helmet, Freesans;
	background-image:  url("images/dirt_road.jpg");
   	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 170%;
	font-size: 15px;
}

.top-bar {
	height: 100px;
	background-color: white;
	background: rgba(255, 255, 255, .7);
	font-size: 18px;
	position: relative;
	margin: -10px -10px 0 -10px;
}

.logo {
	padding-right: 10px;
	float:left;
	border-right: 1px;
}

.logo img {
	margin:10px 10px 0 20px;
	height: 85px;
}


@media screen
	and (min-width : 931px) {

	.top-menu ul {
		margin-left: 90px;
		padding: 0;
		margin: 0;
		height:60px;
	}

	.top-menu li {
		float: right;
		color: black;
		height: 33px;
		list-style: none;
		padding: 13px 20px 13px 20px;
	}

	.header-links {
		position: relative;
		top: 25px;
	}
}

@media screen
	and (max-width : 930px) 	
	and (min-width : 661px) {
	.top-menu ul {
		margin-left: 90px;
		padding: 0;
		margin: 0;
		height:33px;
	}

	.top-menu li {
		float: right;
		color: black;
		height: 33px;
		list-style: none;
		padding: 0 20px 0 15px;
	}

	.header-links {
		position: relative;
		top: 25px;
	}
}

a{
	text-decoration: none;
	color: black;
}

a:hover {
	border-bottom: 3px solid black;
}

.clear {
	clear: both;
	margin-bottom: 40px;
}

.content {
	width: 400px;
	margin-left: auto ;
  	margin-right: auto ;
	background-color: white;
	background: rgba(255, 255, 255, .7);
	padding: 20px;
}

.text {
	-webkit-column-span: 1; /* Chrome, Safari, Opera */
    column-span: 1;
    text-align: justify;
}
.header {
	text-align: center;
	color: #0778be;
	font-family: palatino;
}

h1.header {
	font-size: 45px;
}


h3.header{
	font-size: 25px;
}

.stress {
	font-weight: bold;
	color: #0778be;
}

.italics {
	font-style: italic;
	text-align: center;
}


#worksite img {
	width:100%;
	max-width: 415px;
}


#contact-us {
	padding-top: 10px;
	text-align: center;
}

li {
	 list-style-type: none;
}

.single-col {
	width: 600px;
	margin-left: auto ;
  	margin-right: auto ;
	background-color: white;
	background: rgba(255, 255, 255, .7);
	padding: 20px;
	text-align: center;
}

#promotions-content {
	width: 600px;
	margin-left: auto ;
  	margin-right: auto ;
	background-color: white;
	background: rgba(255, 255, 255, .7);
	padding: 20px;
	text-align: center;
	margin-top: 110px;
	margin-bottom: 110px
}

#rustwork img{
	padding-top: 20px;
	max-width: 100%
}

#insurance img {
	background-color: white;
	max-width: 90%;
	position: center;
}

#airlines img {
	background-color: white;
	max-width: 100%;
}

.footer p {
	padding: 0;
	margin: 0;
}

.contact-footer {
	width: 470px;
	margin-left: auto;
	margin-right: auto;
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px; 
    column-gap: 0px;
    text-align: center;
    padding: none;
    padding-top: 10px;
}

.contact-footer {
	border-left: 10px black;
	border-top: 10px black;
}

.footer {
	text-align: center;
	background-color: white;
	background: rgba(255, 255, 255, .7);
	font-size: 12px;
	margin: 40px -10px -20px -10px;
}

@media screen
	and (max-width : 660px) {	
	@import url("smartphone.css");
	}
}
